.Loading {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .5s;

  &::before {
    content: '';
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border: 5px solid transparent;
    border-top-color: #fc3d21;
    border-bottom-color: #fc3d21;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loader 2s linear infinite;
  }
}

.Loading_Show {
  opacity: 1;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(360deg);
  }

  75% {
    transform: rotate(720deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}
