select,
button,
a {
  &:focus {
    outline-width: 2px;
    outline-offset: 4px;
    outline-style: dotted;
    outline-color: yellow;
  }
}

.App {
  width: 100vw;
  height: 100vh;
}

.Background {
  width: 100%;
  height: 100%;
  object-position: center;
}

.Controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .2);

  > * {
    width: calc(50% - 4px);
    height: 40px;
    font-size: 1em;
    margin-bottom: 8px;
    border-radius: 4px;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.Controls_Hidden {
  width: 125px;

  > * {
    width: 100%;

    + * {
      margin-top: 8px;
    }
  }
}

.Controls__Error {
  margin-bottom: 0;
  width: 100%;
  color: orange;
  text-align: center;
  font-weight: bold;
}

.Info {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25vw;
  margin: 25px;
  padding: 25px;
  background-color: rgba(0, 0, 0, .5);
  text-align: right;
}

.Info__Heading {
  margin-top: 0;
}

.Info__SubHeading {
  display: block;
  font-size: .8em;
}
