select,
button,
a {
  &:focus {
    outline-width: 2px;
    outline-offset: 4px;
    outline-style: dotted;
    outline-color: yellow;
  }
}

.App {
  width: 100vw;
  height: 100vh;
}

.Background {
  width: 100%;
  height: 100%;
  object-position: center;
}

.Loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: .2s;

  &::before,
  &::after {
    content: '';
    display: block;
    position: fixed;
    border-radius: 50%;
  }

  &::before {
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, .75);
    animation: loader 2s both infinite ease-in-out;
  }

  &::after {
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, .5);
    animation: loader2 2s both infinite ease-in-out;
  }
}

.Loading_Show {
  opacity: 1;
  visibility: visible;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(4);
    opacity: .5;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    opacity: .5;
  }

  100% {
    transform: scale(1);
  }
}

.Controls {
  position: fixed;
  right: 0;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
  background-color: rgba(0, 0, 0, .2);

  > * {
    font-size: 1em;
  }

  > select,
  > button {
    width: calc(50% - 4px);
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;

    @media screen and (max-width: 768px) {
      width: calc(100% / 3 - 4px);
      height: 32px;
    }
  }

  @media screen and (min-width: 769px) {
    top: 0;
    margin: 25px;
    width: 250px;
  }

  @media screen and (max-width: 768px) {
    bottom: 0;
    left: 0;
    padding: 15px;
  }
}

.Controls_Hidden {
  @media screen and (min-width: 769px) {
    width: 125px;

    > button {
      width: 100%;
    }
  }
}

.Controls_Toggle {
  background-color: black !important;
  color: white;
}

.Controls__ReOrder {
  @media screen and (max-width: 768px) {
    order: 1;

    .Controls_Hidden & {
      margin-bottom: 0;
    }
  }
}

.Controls__Error {
  margin-bottom: 0;
  width: 100%;
  color: orange;
  text-align: center;
  font-weight: bold;
}

.Info {
  position: fixed;
  right: 0;
  padding: 25px;
  background-color: rgba(0, 0, 0, .5);
  text-align: right;

  @media screen and (min-width: 769px) {
    bottom: 0;
    margin: 25px;
    width: 25vw;
  }

  @media screen and (max-width: 768px) {
    top: 0;
    left: 0;
    padding: 15px;
  }
}

.Info__Heading {
  margin-top: 0;
}

.Info__SubHeading {
  display: block;
  font-size: .8em;
}
